* {
  box-sizing: border-box;
  padding: 0;
}

.app {
  border: black solid 5px;
  border-radius: 10px;
}

.selectedNews {
  display: flex;
  background: #141527;
  color: white;
  text-align: center;
  width: 100%;
}

img {
  height: 300px
}
