* {
  box-sizing: border-box;
  padding: 0;
}

.app {
  border: black solid 5px;
  border-radius: 10px;
}

.selectedNews {
  display: flex;
  text-align: center;
  width: 100%;
}

img {
  border: black double 3px;
  height: 200px
}
