header {
  border-bottom: black solid 5px;
  display: flex;
  justify-content: space-between;
}

h1 {
  font-size: 70px;
  padding-left: 60px;
}

h1 span {
  color: #11CEE3;
}

form {
  height: 60px;
  padding: 20px;
  width: 300px;
}

input, button {
  height: 100%;
  width: 50%;
}

button {
  color: white;
  cursor: pointer;
  font-weight: 500;
  background-color: #11CEE3
}