header {
  display: flex;
  justify-content: space-between;
}

h1 {
  font-size: 70px;
  padding: 20px;
}

form {
  height: 60px;
  padding: 20px;
  width: 300px;
}

input, button {
  height: 100%;
  width: 50%;
}