header {
  background-image: url('./header_background.jpg');
  border-bottom: black solid 2px;
  display: flex;
  justify-content: space-between;
  padding: 60px 0;
}

h1 {
  background-color: red;
  color: white;
  font-size: 70px;
  margin-left: 60px;
  padding: 0 22px 6px 23px;
}

form {
  height: 60px;
  padding: 20px;
  width: 300px;
}

input, button {
  padding: 15px;
  transform: translateY(-59px);
  width: 50%;
}

button {
  color: white;
  cursor: pointer;
  font-weight: 500;
  background-color: red
}