article {
  border: black solid 3px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 380px;
  padding: 20px 10px;
}

img {
  border: black double 3px;
  max-height: 200px;
}